server:
  port: 8081
  servlet:
    encoding:
      charset: utf-8
      force: true

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test;MODE=MySQL
    username: ${rds.username}
    password: ${rds.password}
  h2:
    console:
      enabled: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      "hibernate.default_batch_fetch_size": 100
      "hibernate.format_sql": true
    show-sql: true
  output:
    ansi:
      enabled: always

logging:
  level:
    "com.FinFlow": DEBUG